header{
    position: relative;
    top: auto;
    height: 150px;
    background-color:burlywood;
}

header img{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 140px;
    margin-left: 10px;
    margin-top: 1px;
    
}

header h1{
    position: absolute;
    top: 50px;
    margin-left: 215px;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    
}

#li1{
    position: absolute;
    top: 60px;
    padding: 5px;
    right: 200px;
    display: inline-block;
    border: 3px solid white;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}

#li2{
    position: absolute;
    top: 60px;
    padding: 5px;
    right: 45px;
    display: inline-block;
    border: 3px solid white;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}

main{
    height: 100%;
}



footer{
    position: relative;
    height: 70px;
    background-color: burlywood;
    color: white;
}

footer p{
    position: absolute;
    left: 175px;
    top: 10px;
    font-size: large;
    font-weight: bold;    
}

table,td, th{
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
    font-size: large;
}

body{
    height: 2000px;
}
main{
    height: 100%;
}

main table{
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

li{
    font-size: large;
    
}

footer img{
    position: absolute;
    height: 60px;
    left: 5px;
    top: 5px;

}


main{
    height: 100%;
}

#div1 p{
    font-size: larger;
}

#div1 img{
    text-align: center;
    margin-left:25px; 
    width: 250px;
    height: 200px;
    
}

#div2 img{
    text-align: center;
    margin-left:150px; 
    width: 250px;
    height: 200px;
    padding: 20px;

}

#div3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#div3 p{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
}

#form-id
{
  margin-top: 50px;
  font-size: large;
  font-weight: bold;
  width: 650px;
  margin-left: 25px;
}
form legend{
    font-size: larger;
    font-weight: bolder;
}

form{
    border:2px solid black;
    background-color: burlywood;
}

button{
    border: 1px solid black;
    background-color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
